<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <title>Email - Leave Request</title>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <style type="text/css">
        html {
            margin: 0;
            padding: 0;
        }

        * {
            -webkit-text-size-adjust: none;
        }

        body,
        #bodyTable,
        #bodyCell,
        #bodyCell {
            margin: 0;
            padding: 0;
            width: 100% !important;
            font-family: 'Inter', sans-serif;
        }

        table {
            border-collapse: collapse;
        }

        table[id=bodyTable] {
            width: 100% !important;
            margin: auto;
            max-width: 600px !important;
            color: #7A7A7A;
            font-weight: normal;
        }

        img,
        a img {
            border: 0;
            outline: none;
            text-decoration: none;
            height: auto;
            line-height: 100%;
        }

        a {
            text-decoration: none !important;
        }

        #emailBody {
            background-color: #ffffff;
            border: 1px solid #200053;
        }
    </style>
</head>

<body bgcolor="#ffffff" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center style="background-color:#ffffff;">
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable"
            style="table-layout: fixed;max-width:100% !important;width: 100% !important;min-width: 100% !important;">
            <tbody>
                <tr>
                    <td align="center" valign="top" id="bodyCell">
                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="600" id="emailBody">
                            <tbody>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" class="imageContent" style="padding-top: 0;">
                                                        <img src="/client/public/logo.png" class="flexibleImage"
                                                            style="display:block;max-width: 40rem;" alt="Kriva Technolabs LLP">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td align="center" valign="top">
                                                        <table border="0" cellpadding="20" cellspacing="0" width="600"
                                                            class="flexibleContainer">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top" width="600"
                                                                        class="flexibleContainerCell">
                                                                        <table border="0" cellpadding="0"
                                                                            cellspacing="0" width="100%">
                                                                            <tbody>
                                                                                <tr align="justify">
                                                                                    <td
                                                                                        style="font-size:16px;font-weight:400 !important;padding:0px 0 20px 0;color:#000;">
                                                                                        Dear
                                                                                        <b>{adminName},</b>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td
                                                                                        style="font-size:16px;font-weight:400 !important;padding:0px 0 20px 0;color:#000; text-align: justify;">
                                                                                        I hope this email finds you
                                                                                        well. I am writing to
                                                                                        request a leave of absence
                                                                                        from <b>{startDate}</b> to
                                                                                        <b>{endDate}</b> due to
                                                                                        <b>{reason}</b>. The total
                                                                                        duration of my requested
                                                                                        leave is <b>{totalDays}.

                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td
                                                                                        style="font-size:16px;font-weight:900 !important;padding:7px 0 7px 0;color:#000;">
                                                                                        Employee Name: {userName} </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td
                                                                                        style="font-size:16px;font-weight:900 !important;padding:0px 0 20px 0;color:#000;">
                                                                                        Department: {department}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td
                                                                                        style="font-size:16px;font-weight:400 !important;padding:0px 0 20px 0;color:#000; text-align: justify;">
                                                                                        I kindly request your approval
                                                                                        for this leave. I will ensure
                                                                                        that all my pending work is
                                                                                        either completed or handed over
                                                                                        to a colleague to minimize any
                                                                                        disruption during my absence.
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td
                                                                                        style="font-size:16px;font-weight:400 !important;padding:0px 0 20px 0;color:#000; text-align: justify;">
                                                                                        Thank you for considering my
                                                                                        request. Looking forward to your
                                                                                        positive response.

                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td
                                                                                        style="font-size:16px;font-weight:400 !important;padding:0px 0 30px 0;color:#000;">
                                                                                        Best regards,
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td
                                                                                        style="font-size:16px;font-weight:400 !important;padding:0px 0 10px 0;color:#000;">
                                                                                        {userName}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td
                                                                                        style="font-size:16px;font-weight:400 !important;padding:0px 0 30px 0;color:#000;">
                                                                                        {phoneNumber}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td
                                                                                        style="font-size:14px;line-height:25px;font-weight:900 !important;padding:0px 0px 0;color:#667085; text-align: center;">
                                                                                        © 2023 KRIVA TECHNOLABS LLP
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>

</html>