.edit{
    cursor: pointer;
    font-size: 24px;
}
.delete{
    margin-left: 10px;
    cursor: pointer;
    font-size: 24px;
}
.dropdown{
    cursor: pointer;
}

.p-datatable .p-paginator-bottom {
    height: 62px !important;
}