.edit{
    cursor: pointer;
    font-size: 24px;
}
.delete{
    /* margin-left: 5px; */
    cursor: pointer;
    font-size: 24px;
}
.dropdown{
    cursor: pointer;
}

.p-datatable .p-paginator-bottom {
    height: 62px !important;
}

.balance{
    margin-right: 50px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.mainHeader{
    background: #7B95A3;
    color: #ffffff;
    border: 1px solid #7B95A3;
    border-width: 1px 1px 0 1px;
    padding: 0.857rem 1rem;
    font-weight: 700;
}
