@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@700&family=Poppins:wght@300;400;700&display=swap');

.edit {
    cursor: pointer;
    font-size: 24px;
}

.delete {
    cursor: pointer;
    font-size: 24px;
}

.dropdown {
    cursor: pointer;
}

.p-datatable .p-paginator-bottom {
    height: 62px !important;
}

.balance {
    margin-right: 50px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.mainHeader {
    background: #7B95A3;
    color: #ffffff;
    border: 1px solid #7B95A3;
    border-width: 1px 1px 0 1px;
    padding: 0.857rem 1rem;
    font-weight: 700;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
}

.userInfo {
    margin-left: 15px;
    margin-right: 20px;
}

.detail {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 10px;
}

.userDetail {
    border-bottom: 1px solid rgb(158, 158, 158);
    margin-bottom: 20px;
}

.mainBody {
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
    margin-bottom: 15px;
}

.userBlock {
    background-color: rgb(226, 215, 215);
    box-shadow: 10px 5px 5px rgb(119, 119, 119);
    border-radius: 20px;
}

.leaveTable {
    background-color: rgb(226, 215, 215);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(119, 119, 119);

}

.mailTable {
    margin-top: 20px;
}

.tableBody {
    border-bottom: 1px solid rgb(158, 158, 158);
}

.title {
    font-weight: 700;
    font-size: 27px;
    margin-top: 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.leaveTitle{
    font-weight: 700;
    font-size: 27px;
    margin-top: 10px;
    display: inline;
}

.leaveHeader{
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carryForward{
    font-size: 20px;
    margin-top: 13px;
    color: black;
}

#editUser {
    background-color: rgb(226, 215, 215);
    border-radius: 20px;
    margin-top: 30px;
    padding: 10px;
    margin-right: 15px;
    box-shadow: 10px 5px 5px rgb(119, 119, 119);
}

.submitButton {
    margin-top: 10px;
    margin-right: 10px;
}

.p-avatar.p-avatar-xl .p-avatar-icon{
    font-size: 12rem !important;
}

.pmSystem{
    font-weight: 700;
    font-size: larger;
}

.box{
    text-align: center;
    width: 130px;
    height: 40px;
    border: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 5px;
}
